<div class="form-container">
  <div class="title thicker"> Create New Article!!!! </div>
    <% if @error %>
      <br>
      <br>
      <%= @error %>
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr02/2012/12/15/17/anigif_enhanced-buzz-2771-1355609732-2.gif">
    <% else %>
      <%= render partial: 'form' %>
    <% end %>
</div>