<div class="title thicker">
  All Versions:
</div>





  <% if @all_versions %>
    <div class="subtitle thicker">
      <% @all_versions.each do |version| %>

        <!-- Date/time needs formatting -->
      <div class="thicker border-bot medium-width medium-pad" > 
        <li><%= version.title %> <%= link_to 'View here', article_version_path(version.article_id, version)%><br> As of: <%= version.created_at %> </li>
      </div> 
      <% end %>
    </div>
  <% end %>
