<% if @all_versions %>

  <ul>
    <% @all_versions.each do |version| %>

      <!-- Date/time needs formatting -->

      <li><%= version.title %> <%= link_to 'View here', article_version_path(version.article_id, version)%>, As of: <%= version.created_at %> </li>

      <% if current_user.clearance == "admin" %>
        <span class="thicker"> Admin privileges: </span>
        <%= link_to "Delete", article_version_path(version.article_id, version), method: :delete  %>
      <% end %>
      <br><br>

    <% end %>
  </ul>
<% end %>
