<div class="versions-container title thicker see-through">
  <% if @all_versions %>
  <!-- REMOVE INLINE STYLING CAUSE IT'S TERRIBLE -->
    <ul>
      <% @all_versions.each do |version| %>

        <!-- Date/time needs formatting -->
      <div class="each-version info thicker">

        <li><%= version.title %> <%= link_to 'View here', article_version_path(version.article_id, version)%>, As of: <%= version.created_at %> </li>
      </div>

      <% end %>
    </ul>
  <% end %>
</div>