// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  padding: 20px;
  margin: 20px;
  border: 5px solid #9C3108;
}
