<div class="category-container see-through">
<!--   <span class="title thicker">Category: <%= @category.name %></span> -->

  <div class="title thicker category-articles">
    <%= @category.name %> Articles:
      <div class="cat-arts subtitle">

      <!-- We need to only grab the last one, push it into an array, then loop over and display the article -->

        <% @category_articles.each do |version| %>
            <%= link_to version.title, article_version_path(version.article_id, version) %>
        <% end %>

      </div>
  </div>
</div>


<!-- model tests -->
<!-- add features -->
<!-- feature tests -->
<!-- at very least test article creation -->
