<div class="categories-container see-through">
 
  <span class="jumbo thicker">Big Dog Wiki</span>
  =======
  <span class="thicker title">All Categories</span>

  <ul id="thicker subtitle">
    <% @categories.each do |category| %>
      <li class="eachcat">
        <%= link_to category.name, category_path(category), class: "each-category thicker info" %>

      </li>
    <% end %>
  </ul>


  <%= link_to "Create a New Category", new_category_path, class: "new_category subtitle" %>
</div>

