<div class="category-container see-through">
<!--   <span class="title thicker">Category: <%= @category.name %></span> -->

  <div class="title thicker category-articles">
    <%= @category.name %> Articles:
      <div class="cat-arts subtitle">

        <% @category.articles.each do |article| %>
          <% if article.published %>
            <%= link_to article.title, article_path(article) %>
          <% end %>
        <% end %>

      </div>
  </div>
</div>